@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Form", "Materia", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.IdMateria, new { @class = "hidden" })
                    @Html.TextBoxFor(model => model.IdMateria, new { @class = "hidden form-control" })
                    @Html.ValidationMessageFor(model => model.IdMateria)
                    @*hidden*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Nombre)

                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-map-marker" id="basic-addon1"></span>
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Nombre)

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Nombre)
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-font" id="basic-addon1"></span>
                        @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtNombre" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
            </div>
            @Html.HiddenFor(model=> model.Action)
            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Creditos)
                    @Html.TextBoxFor(model => model.Creditos, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Creditos)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Costo)
                    @Html.TextBoxFor(model => model.Costo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Costo)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Semestre)
                    @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Selecciona un semestre correspondiente", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Semestre.IdSemestre)

                </div>
            </div>


            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    @Html.ActionLink("Regresar", "GetAll", "Materia", htmlAttributes: new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>

                }


            </div>
        </div>

<style>
    
</style>